<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Powerpool Whitelist</title>
  <link rel="stylesheet" href="/style.css" type="text/css" />
</head>
<body style="font-family: Modenine">
  <%- body %>
</body>
</html>
